aiogram==2.7
aiogram-utils==0.0.12
aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
altgraph==0.17.2
APScheduler==3.6.3
asgiref==3.7.2
asttokens==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
distlib==0.3.4
Django==4.2.3
django-dotenv==1.4.2
django-jazzmin==2.6.0
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
easy-pil==0.1.6
Eel==0.14.0
et-xmlfile==1.1.0
executing==0.8.3
ffmpeg==1.4
filelock==3.6.0
frozenlist==1.3.0
future==0.18.2
geojson==2.5.0
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
hiredis==2.0.0
huggingface-hub==0.12.0
idna==2.5
ipython==8.3.0
jedi==0.18.1
Jinja2==3.0.2
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mongoengine==0.23.1
multidict==6.0.2
mysql-connector-python==8.0.28
numpy==1.21.4
openpyxl==3.0.10
packaging==23.0
parso==0.8.3
pathlib==1.0.1
pefile==2021.9.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.2
plotly==5.3.1
prompt-toolkit==3.0.29
psycopg2==2.9.5
pure-eval==0.2.2
PyAudio==0.2.13
pycparser==2.20
pydub==0.25.1
Pygments==2.12.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyJWT==2.7.0
pymongo==3.12.3
pyowm==3.2.0
pyparsing==2.4.7
PyQt5==5.15.6
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
PySocks==1.7.1
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.19.1
python-telegram-bot==13.11
python-telegram-bot-raw==13.11
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
regex==2022.10.31
requests==2.26.0
requests2==2.16.0
six==1.16.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
SpeechRecognition==3.9.0
sqlparse==0.4.4
srt==3.5.2
stack-data==0.2.0
tenacity==8.0.1
tokenizers==0.13.2
torch==1.13.1
tornado==6.1
tqdm==4.64.1
traitlets==5.2.0
transformers==4.26.1
ttkthemes==3.2.2
turtle==0.0.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.2
urllib3==1.21.1
virtualenv==20.14.1
vosk==0.3.45
Wave==0.0.2
wcwidth==0.2.5
websockets==10.4
whichcraft==0.6.1
yarl==1.7.2
zope.event==4.5.0
zope.interface==5.4.0
