asgiref==3.7.2
attrs==23.1.0
certifi==2023.7.22
Django==4.2.3
django-filter==23.2
djangorestframework==3.14.0
idna==3.4
inflection==0.5.1
jsonschema==4.18.4
packaging==23.1
phonenumbers==8.13.17
PyJWT~=2.8.0
pytils==0.4.1
pytz==2023.3
PyYAML==6.0.1
referencing==0.30.0
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
timedelta~=2020.12.3
pip~=22.0.4
setuptools~=58.1.0